body {
	font-family: monospace;
	background-color: #333;
	margin: 0;
}

.editor-ide {
	position: fixed;
	width: 100%;
	top: 0px;
	bottom: 0px;
	border: 1px solid #000;
	background-color: #000;
}

.editor-language {
	z-index: 999;
	bottom: 10px;
	left: 10px;
	position: absolute;
}

.editor-theme {
	z-index: 999;
	bottom: 10px;
	right: 10px;
	position: absolute;
}